// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

//Variables
@colorsplash: #BFB8CA;

//Mixins
.block() {
	height:20%;
	display:flex;	
	justify-content: center;
	justify-content: space-evenly;
}

.block-padding(){
	padding: 30px;
}

.stacked() {
		height:20%;
		display:flex;
		flex-direction: column;
		align-items: center;
		
}

.header-style() {
	width: 60%;
	text-align: center;
	padding: 20px 0
}

.square() {
	border: 2px solid black;
	width: 40%;
}

.center() {
	display: flex;
	justify-content: center;
	font-weight: bolder;
}

//My code
html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.6rem;
	background-color: @colorsplash;
}

.container{
	width:80%;
	height: 100%;
	margin: 0 auto;
	background-color:#FFFFFF;
}

header {
	background-color: #E9ECEF;
	.block;
	.stacked;
	
	.header-top {
		font-size:4rem;
		border-bottom: 2px solid black;
		.header-style;

		h1 span {
			font-size: 2rem;
		}
	}

	.header-bottom {
		font-size: 2.2rem;
		.header-style;

	}
}

.sec-heading {
	background-color: @colorsplash;
	.center;
}

.middle-one {
	.block;
	.block-padding;
}

.middle-two {
	.block;
	.block-padding;
}

.bottom {
	.block;
	.block-padding;
}

.contact {
	.block;
	.block-padding;
}

.box {
	.square;
}
